#aboutkate {
    color: #fff;
    background-color: #f30303;
}
.about-kate-header {
    background-color: black;
    padding: 3rem 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Playfair Display', sans-serif;
    font-size: 25px;
    color: #fff;
}

.about-kate-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.about-kate-img {
    width: 100%;
    height: fit-content;
    display: inline-flex;
}
.about-kate-img img {
    width: 100%;
    height: fit-content;
}

.about-kate-desc p {
    margin-bottom: 2rem;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}
.about-kate-desc {
    padding: 9rem 3rem;
}

.about-kate-extra-img {
    display: flex;
    gap: none;
}

.about-kate-extra-img img {
    height: 350px;
}

.KatePoster {
    width: 35%;
    display: inline-flex;
}

.KatePoster img {
    width: 100%;
}

.KateBrand {
    width: 30%;
    display: inline-flex;
}
.KateBrand img {
    width: 100%;
}

.KateModel {
    width: 20%;
    display: inline-flex;
}

.KateModel img {
    width: 100%;
}


.KateFace {
    width: 30%;
    display: inline-flex;
}

.KateFace img {
    width: 100%;
}

