#about-mission {
    width: 100%;
    height: fit-content;
    background-color: #a80505;
}

#about-mission .introduction {
    display: flex;
    gap: 14rem;
}

.introduction .kate-pic {
    display: inline-flex;
    width: 70%;
}

#about-mission .kate-description {
    color: #fff;
    font-family: 'Libre Baskerville', sans-serif;
    margin-top: 9rem;
    font-size: 18px;
}
.kate-description h4:first-child {
    text-transform: uppercase;
    line-height: 1.5;
    margin-bottom: 1rem;
}
/* .kate-description h4:first-child span {
    color: #030303;
    font-weight: 700;
} */

.kate-description h4:nth-child(2), .kate-description h4:nth-child(3),.kate-description h4:nth-child(4) {
    margin-bottom: 1rem;
}

.kate-description button {
    background-color: transparent;
    font-family: 'Libre Baskerville', sans-serif;
    border-radius: 15px;
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    padding: 7px 10px;
    margin-bottom: 1rem;
    color: #fff;
}

.kate-description .final-intro {
    display: flex;
    gap: 1rem;
}

.final-intro .apostrophe {
    width: 6%;
}

.final-intro .apostrophe img {
    width: 100%;
}

.final-intro .final-desc {
    margin-top: 0.5rem;
}