#book-now {
    background-color: black;
    flex-direction: row;
}

.book-now-container {
    display: flex;
    padding: 5rem 2.5rem;
}

.booking-request {
    width: 50%;
    margin-top: 10rem;
}

.booking-request h3 {
    font-family: 'Libre Baskerville', sans-serif;
    color: #f00505;
    margin-bottom: 2rem;
    font-size: 35px;
}
.booking-request button {
    font-size: 19px;
}
.katepic {
    width: 50%;
}

.katepic img {
    width: 100%;
}

@media screen and (max-width: 912px) {
    .booking-request {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 820px) {
    .booking-request {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .booking-request {
        margin-top: 0.5rem;
    }
}

@media screen and (max-width: 600px) {
    .book-now-container {
        flex-direction: column-reverse;
        padding: 2rem;
    }

    .booking-request, .katepic {
        width: 100%;
    }

    .booking-request {
        text-align: center;
    }
}

@media screen and (max-width: 280px) {
    .booking-request h3 {
        font-size: 16px;
    }
}