#header {
    padding-top: 0.6rem;
    background-image: url(../../assets/images/header-interlove-shape.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#navbar {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    z-index: 2;
}

#navbar .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 1.5rem;
}
#navbar .menu a {
    color: #fff;
}
/* #navbar .menu .menu-select {
    margin-top: -0.08rem;
} */
#navbar .menu select {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
#navbar .menu .menu-select {
    margin-top: -0.08rem;
}

#navbar .menu h3 {
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

#navbar .logo {
    width: 40%;
}

#navbar .logo img {
    width: 30%;
}

#hero-description {
    margin-top: 10rem;
    color: #fff;
}

#hero-description h3 {
    font-family: 'Playfair Display', sans-serif;
    padding-bottom: 1rem;
    font-size: 32px;
}
#hero-description h3 span {
    color: #f50404;
}
#hero-description h4 {
    font-family: 'Libre Baskerville', sans-serif;
    padding-bottom: 1rem;
    font-size: 18px;
}

/* #header .black-shaped-background {
    background-color: #060606;
    width: 50%;
    height: 100%;
    position: absolute;
    top: -0.1rem;
    z-index: 1;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
} */

.hamburger {
    display: none;
}
.hamburger svg {
    color: #fff;
}



@media screen and (max-width: 1280px) {
    #header {
        background-size: auto;
        height: 730px;
    }

    #navbar .menu h3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 1024px) {
    #header {
        background-size: 100%;
        height: 550px;
    }
    #navbar .menu h3 {
        font-size: 12px;
    }
    #navbar .menu select {
        font-size: 12px;
    }
    #navbar .menu .menu-select {
        margin-top: -0.4rem;
    }
}

@media screen and (max-width: 912px) {
    #header {
        background-size: 100%;
        height: 490px;
    }
    #navbar .menu h3 {
        font-size: 10px;
    }
    #navbar .menu select {
        font-size: 10px;
    }
    #navbar .menu .menu-select {
        margin-top: -0.55rem;
    }
    #hero-description{
        margin-top: 5rem;
    }
    #hero-description h3 {
        font-size: 28px;
    }
    #hero-description h4 {
        font-size: 16px;
    }
}

@media screen and (max-width: 820px) {
    #header {
        height: 440px;
    }
    #navbar .menu h3 {
        font-size: 8px;
    }
    #navbar .menu select {
        font-size: 8px;
    }
    #navbar .menu .menu-select {
        margin-top: -0.6rem;
    }
    #hero-description{
        margin-top: 4.5rem;
    }
    #hero-description h3 {
        font-size: 26px;
    }
    #hero-description h4 {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    #header {
        height: 400px;
    }
    #navbar .menu h3 {
        font-size: 7px;
    }
    #navbar .menu select {
        font-size: 7px;
    }
    #navbar .menu .menu-select {
        margin-top: -0.65rem;
    }
    #hero-description{
        margin-top: 4rem;
    }
    #hero-description h3 {
        font-size: 26px;
    }
    #hero-description h4 {
        font-size: 13px;
    }
}

@media screen and (max-width: 600px){
    .hamburger {
        display: initial;
        margin-top: 0.5rem;
        z-index: 1;
    }

    #navbar .menu {
        flex-direction: column;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        top: -1.5rem;
        left: -100%;
        background-color: #a84444;
        transition: 0.3s;
        gap: 2rem;
    }
    #navbar .menu.responsive-menu {
        left: 0;
    }
    #navbar .menu h3 {
        font-size: 26px;
    }
    #navbar .menu select {
        font-size: 26px;
    }
     #header {
        height: 320px;
    }
    #hero-description{
        margin-top: 2rem;
    }
    #hero-description h3 {
        font-size: 20px;
    }
    #hero-description h4 {
        font-size: 11px;
    }
}

@media screen and (max-width: 540px){
    #header {
        height: 280px;
    }
    #hero-description{
        margin-top: 1.5rem;
    }
    #hero-description h3 {
        font-size: 18px;
    }
    #hero-description h4 {
        font-size: 9px;
    }
}

@media screen and (max-width: 414px){
    #header {
        height: 220px;
    }
    #hero-description{
        margin-top: 0.7rem;
    }
    #hero-description h3 {
        font-size: 16px;
    }
    #hero-description h4 {
        font-size: 8px;
    }
}

@media screen and (max-width: 393px) {
    #header {
        height: 200px;
    }
    #hero-description{
        margin-top: 0.4rem;
    }
    #hero-description h3 {
        font-size: 12px;
    }
    #hero-description h4 {
        font-size: 6px;
    }
}

@media screen and (max-width: 375px) {
    #header {
        height: 190px;
    }
}

@media screen and (max-width: 280px) {
    #header {
        height: 150px;
    }
    #hero-description{
        margin-top: 0.1rem;
    }
    #hero-description h3 {
        font-size: 8px;
    }
    #hero-description h4 {
        font-size: 5px;
    }
}